<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Il est temps de faire un choix !{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="icon" href="{{ asset('images/favicon.ico') }}" />
        {% endblock %}
    </head>

    <body class="bg-danger text-white container">

        <h1>
            {% block pageTitle %}{% endblock %}
        </h1>

        {% block body %}
        {% endblock %}

        {% block javascripts %}{% endblock %}

    </body>

    <footer>
        <p class="text-center pt-4 border-top border-white mt-4">MaxSiriusSquad - 2019</p>
    </footer>

</html>